:root {
  font-family: monospace "Times New Roman", Times, serif, Inter, system-ui,
    Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: var(--text-color);
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  touch-action: manipulation; /* Prevents zooming on Double-tap */

  --primary-color: #98d2eb;
  --primary-color-selected: #5f9eb9;
  --secondary-color: #efa00b;
  --background-color: #020202;
  --secondary-background-color: #706f6f;

  --primary-color: #f5e1a4; /* A rich red, similar to Scrabble's "double word score" tiles */
  --primary-color-selected: #c62828; /* A slightly darker red for selected or active states */
  --secondary-color: #d32f2f; /* A vibrant green, reminiscent of Scrabble's "triple word score" */
  --background-color: #1b5e20; /* A warm, light tan similar to the Scrabble board background */
  --secondary-background-color: #795548; /* A soft brown for cards or sections, inspired by Scrabble's wooden tile holders */

  --primary-color: ; /* A bright coral for main interactive elements */
  --primary-color-selected: #e0524a; /* A darker coral for active or selected states */
  --secondary-color: #5922F2; /* A vibrant, energizing green for secondary elements */
  --secondary-color-selected: #17821b;
  --background-color: #1a082a; /* A deep slate-gray for the background, creating focus */
  --secondary-background-color: #393d47; /* A softer gray for contrasting sections */
  --text-color: #f9eff4; /* Clean white text for readability on dark backgrounds */
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: inline;
  padding: 0;
  place-items: center;
  min-width: 320px;
  height: 100vh;
  overflow: none;
  box-sizing: border-box;
}

h1 {
  font-size: 8em;
  line-height: 1.1;
}

.card {
  padding: 2em;
}

#app {
  max-width: 1440px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

p {
  display: inline;
}
/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
